body {
  background-color: #dfe6e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 5rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls__btns button:active {
  transform: scale(0.98);
}

.pallette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 1rem 0;
}
.pallette__color {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}
